[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.fourthLaba
Exec=/usr/bin/ru.auroraos.fourthLaba
Name=Template
Name[ru]=??????

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=fourthLaba
ExecDBus=/usr/bin/ru.auroraos.fourthLaba
