[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=ru.auroraos.projectCalc
Exec=/usr/bin/ru.auroraos.projectCalc
Name=Template
Name[ru]=??????

[X-Application]
Permissions=
OrganizationName=ru.auroraos
ApplicationName=projectCalc
ExecDBus=/usr/bin/ru.auroraos.projectCalc
